*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    background-color: rgb(176, 226, 242);
    padding: 32px;
    margin-top: 40px;
    border-radius: 16px;
    max-width: 400px;
}
.row{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
input{
    padding: 8px;
    width: 300px;
    border: none;
    box-shadow: 4px 9px 25px -8px rgba(0,0,0,0.5);
    border-radius: 4px;
    margin-top: 4px;
}
button{
    border: none;
    box-shadow: 4px 9px 25px -8px rgba(0,0,0,0.5);
    padding: 8px 20px;
    margin-top: 8px;
    color: white;
    background-color: rgb(9, 57, 91);
    border-radius: 4px;
}
#petsContainer{
    width: 400px;
    padding: 24px;
}
li{
    list-style-type: none;
    box-shadow: 4px 9px 25px -8px rgba(0,0,0,0.5);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
}